<div class="error-page">
  <div class="error-container">
    <img
      src="https://cdn-icons-png.flaticon.com/512/2966/2966327.png"
      alt="Logo" class="logo"
    />
    <h1>404</h1>
    <h2>Página no encontrada</h2>
    <p>
      Lo sentimos, la página que buscas no existe o ha sido movida.<br />
      Por favor, verifica la dirección o regresa al inicio de sesión.
    </p>
    <a href="#" class="btn-volver" (click)="$event.preventDefault(); irLogin()">
      Volver al inicio
    </a>
  </div>
</div>
